<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- الأذونات المطلوبة -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- دعم الكاميرا -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- السماح بفتح الكاميرا عبر Intents -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:theme="@style/Theme.ApplicationAPP"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="android.view.translation"
            android:required="false" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCEwUkV8dKYIAr_0LJJDOAzXtSyoCiSPZE" />




        <!-- Firebase إعدادات -->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!-- الشاشة الرئيسية -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>

